//
//--------------------------------------------------------------------------
// Alerts - Luma
//--------------------------------------------------------------------------
//

.alert {
  border-radius: .3rem;
  margin-bottom: 20px;
  opacity: 1;
  padding: 15px;
  position: relative;
  transition: opacity .3s linear;
  width: 100%;

  &.is-info {
    background-color: $color-info;
    color: tint($color-info, 80%);
  }

  &.is-success {
    background-color: $color-success;
    color: shade($color-success, 50%);
  }

  &.is-warning {
    background-color: $color-warning;
    color: shade($color-warning, 50%);
  }

  &.is-danger {
    background-color: $color-danger;
    color: tint($color-danger, 80%);
  }

  &.can-close {
    padding-right: 30px;
  }

  &.is-fading {
    opacity: 0;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    font-size: 22px;
    font-style: normal;
    opacity: .7;
    right: 1rem;
    top: 1.1rem;

    &:hover {
      opacity: .9;
    }

    &::before {
      content: "×";
    }
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

