//
//--------------------------------------------------------------------------
// Alerts - Luma
//--------------------------------------------------------------------------
//

.alert {
  border-radius: .3rem;
  margin-bottom: 20px;
  opacity: 1;
  padding: 15px;
  position: relative;
  transition: opacity .3s linear;
  width: 100%;

  &.is-info {
    background-color: $color-info;
    color: $alert-info-color;

    a {
      color: $alert-info-color;

      &:hover {
        color: $alert-info-color-hover;
      }
    }
  }

  &.is-success {
    background-color: $color-success;
    color: $alert-success-color;

    a {
      color: $alert-success-color;

      &:hover {
        color: $alert-success-color-hover;
      }
    }
  }

  &.is-warning {
    background-color: $color-warning;
    color: $alert-warning-color;

    a {
      color: $alert-warning-color;

      &:hover {
        color: $alert-warning-color-hover;
      }
    }
  }

  &.is-danger {
    background-color: $color-danger;
    color: $alert-danger-color;

    a {
      color: $alert-danger-color;

      &:hover {
        color: $alert-success-color-hover;
      }
    }
  }

  &.can-close {
    padding-right: 30px;
  }

  &.is-fading {
    opacity: 0;
  }

  &__close {
    cursor: pointer;
    font-size: 22px;
    font-style: normal;
    opacity: .7;
    position: absolute;
    right: 1rem;
    top: 1.1rem;

    &:hover {
      opacity: .9;
    }

    &::before {
      content: '×';
    }
  }

  > p:last-child {
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
  }
}

