//
//--------------------------------------------------------------------------
// Buttons - Luma
//--------------------------------------------------------------------------
//


.button {
  // Default Style
  @include btn($color-button, $color-button-bg);

  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  border: 0;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3.5rem;
  justify-content: center;
  letter-spacing: .05rem;
  padding: 0 15px;
  transition: background-color 150ms;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.is-primary {
    @include btn($color-primary-inverted, $color-primary);
  }

  &.is-info {
    @include btn(#fff, $color-info);
  }

  &.is-success {
    @include btn(#fff, $color-success);
  }

  &.is-warning {
    @include btn($color-dark, $color-warning);
  }

  &.is-danger {
    @include btn(#fff, $color-danger);
  }

  &.is-outline {
    background: none;
    border: 1px solid $color-button-outline-border;
    box-shadow: none;
    color: $color-button-outline;
    overflow: hidden;
    transition: all .3s;
    z-index: 1;

    &:hover,
    &:active {
      border-color: lighten($color-dark, 30%);
      color: $color-dark;
    }

    &.is-light {
      border: 1px solid $color-light;
      color: $color-light;

      &:hover,
      &:active {
        border-color: $color-checkmark;
        color: $color-checkmark;
      }
    }

    &.is-primary {
      @include btn-outline($color-primary, $color-primary, #fff, $color-primary);
    }

    &.is-info {
      @include btn-outline($color-info, $color-info, #fff, $color-info);
    }

    &.is-danger {
      @include btn-outline($color-danger, $color-danger, #fff, $color-danger);
    }

    &.is-success {
      @include btn-outline($color-success, $color-success, #fff, $color-success);
    }
  }

  i {

    &.rotate-90 {
      &::before {
        transform: rotate(90deg);
      }
    }

    &::before {
      font-size: 1.7rem;
    }
  }

  span + .icon,
  .icon + span {
    margin-left: .75rem;
  }

  &.is-animated {
    padding-right: 30px;
    position: relative;

    &:hover {
      i {
        right: 8%;
      }
    }

    i {
      position: absolute;
      right: 12%;
      top: 10%;
      transition: right 150ms ease-out;
    }
  }

  &.is-narrow {
    font-size: 1.2rem;
    height: 3rem;
    padding: 0 1rem;
    padding-top: 2px;
  }

  &:focus,
  &:active {
    outline: none;
  }

}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > .button {
    flex-shrink: 0;
    justify-content: flex-start;
    margin: 0 5px 5px 0;

  }
}
