//
//--------------------------------------------------------------------------
// Buttons - Luma
//--------------------------------------------------------------------------
//

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.button {
  // Default Style
  @include btn($color-button, $color-button-bg);

  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  border: 0;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5rem;
  height: 3.5rem;
  justify-content: center;
  letter-spacing: .05rem;
  padding: 0 15px;
  transition: background-color 150ms;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.is-primary {
    @include btn($color-primary-inverted, $color-primary);

    &:disabled,
    &.is-disabled {
      background-color: tint($color-primary, 20%);
    }
  }

  &.is-info {
    @include btn(#fff, $color-info);

    &:disabled,
    &.is-disabled {
      background-color: tint($color-info, 20%);
    }
  }

  &.is-success {
    @include btn(#fff, $color-success);

    &:disabled,
    &.is-disabled {
      background-color: tint($color-success, 20%);
    }
  }

  &.is-warning {
    @include btn($color-dark, $color-warning);

    &:disabled,
    &.is-disabled {
      background-color: tint($color-warning, 20%);
    }
  }

  &.is-danger {
    @include btn(#fff, $color-danger);

    &:disabled,
    &.is-disabled {
      background-color: tint($color-danger, 20%);
    }
  }

  &:disabled,
  &.is-disabled {
    cursor: not-allowed;
  }

  &.is-outline {
    background: none;
    border: 1px solid $color-button-outline-border;
    box-shadow: none;
    color: $color-button-outline;
    overflow: hidden;
    transition: all .3s;
    z-index: 1;

    &:hover,
    &:active {
      border-color: tint($color-dark, 30%);
      color: $color-dark;
    }

    &.is-light {
      border: 1px solid $color-light;
      color: $color-light;

      &:hover,
      &:active {
        border-color: darken($color-light, 20%);
        color: darken($color-light, 20%);
      }
    }

    &.is-primary {
      @include btn-outline($color-primary, $color-primary, #fff, $color-primary);
    }

    &.is-info {
      @include btn-outline($color-info, $color-info, #fff, $color-info);
    }

    &.is-danger {
      @include btn-outline($color-danger, $color-danger, #fff, $color-danger);
    }

    &.is-success {
      @include btn-outline($color-success, $color-success, #fff, $color-success);
    }
  }

  i {
    &::before {
      font-size: 1.7rem;
    }
  }

  span + .icon,
  .icon + span {
    margin-left: .75rem;
  }

  &.is-animated {
    padding-right: 10px;

    i::before {
      transform: translateX(0);
      transition: transform 150ms ease-out;
    }

    &:hover {
      i::before {
        transform: translateX(3px);
      }
    }
  }

  &.is-narrow {
    font-size: 1.2rem;
    height: 3rem;
    padding: 0 1rem;
  }

  &.is-loading {
    pointer-events: none;

    &::before {
      animation: spinAround 500ms infinite linear;
      border: 2px solid $color-button-loading;
      border-radius: 100%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: '';
      display: inline-block;
      height: 13px;
      margin-right: 10px;
      vertical-align: middle;
      width: 13px;
    }

    &.is-empty {
      &::before {
        margin-right: 0;
      }
    }

    &.is-outline {
      &::before {
        border-bottom-color: $color-button-outline-border;
        border-left-color: $color-button-outline-border;
      }

      &.is-primary {
        &::before {
          border-bottom-color: $color-primary;
          border-left-color: $color-primary;
        }
      }

      &.is-success {
        &::before {
          border-bottom-color: $color-success;
          border-left-color: $color-success;
        }
      }

      &.is-info {
        &::before {
          border-bottom-color: $color-info;
          border-left-color: $color-info;
        }
      }

      &.is-warning {
        &::before {
          border-bottom-color: $color-warning;
          border-left-color: $color-warning;
        }
      }

      &.is-danger {
        &::before {
          border-bottom-color: $color-danger;
          border-left-color: $color-danger;
        }
      }
    }
  }

  &:focus,
  &:active {
    outline: none;
  }

}

a.button.is-disabled {
  pointer-events: none;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > .button {
    flex-shrink: 0;
    justify-content: flex-start;
    margin: 0 5px 5px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &.is-right {
    justify-content: flex-end;
  }
}
