//
//--------------------------------------------------------------------------
// Lists - Luma
//--------------------------------------------------------------------------
//


ul,
ol,
dl {
  color: $color-text;
  font-family: $font-text;
  font-weight: 300;
  list-style: none;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-left: 0;

  dl,
  ol,
  ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem;
  }
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

dt {
  font-weight: 400;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: disc inside;
}

.collection {
  border: 1px solid $color-collection-border;
  border-radius: .3rem;
  list-style-type: none;
  margin: .5rem 0 1rem;
  overflow: hidden;
  position: relative;

  .item {
    padding: 10px 10px 10px 15px;

    &.has-image {
      min-height: 50px;
      padding-left: 70px;
      position: relative;

      img {
        border-radius: 50%;
        height: 40px;
        left: 15px;
        position: absolute;
        width: 40px;
      }
    }

    &-title {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 600;
      vertical-align: top;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-collection-border;
    }
  }

  a {
    border: 0;

    &:hover {
      color: shade($color-link, 20%);
    }
  }
}
