//
//--------------------------------------------------------------------------
// Lists - Luma
//--------------------------------------------------------------------------
//

.spinner {
  align-items: center;
  display: flex;
  height: ($spinner-size * 1.4);
  position: relative;
  width: $spinner-size;
}

.pulse {
  animation: pulse 1.5s infinite ease-out;
  background-color: $color-spinner;
  border-radius: 100%;
  height: $spinner-size;
  left: 0;
  margin: 0 auto;
  opacity: .4;
  position: absolute;
  width: $spinner-size;

  &:nth-of-type(2) {
    animation-delay: -350ms;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
