//
//--------------------------------------------------------------------------
// Tables - Luma
//--------------------------------------------------------------------------
//


table {
  border-spacing: 0;
  width: 100%;

  td,
  th {
    border-bottom: .1rem solid $color-border-table;
    padding: .5rem .75rem;
    text-align: left;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  tr:hover {
    background-color: $color-bg-table;
  }
}
