//
//--------------------------------------------------------------------------
// Grid - Luma
//--------------------------------------------------------------------------
//


.container {
  @include tablet {
    max-width: 750px;
  }
  @include desktop {
    max-width: 960px;
  }
  @include widescreen {
    max-width: 1152px;
  }

  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;

  &.is-top {
    align-items: flex-start;
  }

  &.is-bottom {
    align-items: flex-end;
  }

  &.is-center {
    align-items: center;
  }

  &.is-stretch {
    align-items: stretch;
  }

  &.is-baseline {
    align-items: baseline;
  }

  .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    padding: 1rem 0;
    width: 100%;

    &.is-top {
      align-self: flex-start;
    }

    &.is-bottom {
      align-self: flex-end;
    }

    &.is-center {
      align-self: center;
    }

    &.is-stretch {
      align-self: stretch;
    }

    &.is-baseline {
      align-self: baseline;
    }
  }

  &.is-multiline {
    flex-wrap: wrap;
  }
}

@include tablet {
  .row {
    flex-direction: row;
    margin-left: -1rem;
    margin-right: -1rem;

    .column {
      margin-bottom: inherit;
      padding: 0 1rem;

      @for $i from 1 through 12 {
        &.is-#{$i} {
          flex: 0 0 ($i / 12) * 100%;
          max-width: ($i / 12) * 100%;
        }

        &.is-offset-#{$i} {
          margin-left: ($i / 12) * 100%;
        }
      }
    }

    &.no-gutters {
      margin-left: 0;
      margin-right: 0;

      .column {
        padding: 0;
      }
    }
  }
}
