//
//--------------------------------------------------------------------------
// Navigation - Luma
//--------------------------------------------------------------------------
//

.nav {
  align-items: stretch;
  background-color: $color-nav-bg;
  display: flex;
  min-height: $nav-height;
  padding: .8rem 1.6rem;

  & > .container {
    align-items: stretch;
    display: flex;
    min-height: $nav-height;
    width: 100%;
  }

  &.has-depth {
    .nav-item a,
    a.nav-item {
      &.is-tab {
        border-width: 3px;
      }
    }
  }

  &.is-transparent {
    background-color: transparent;
  }
}

.nav.is-toggle {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .hamburger {
    display: block;
    padding: 0;

    &:focus {
      outline: 0;
    }
  }

  @include tablet {
    display: none;
  }
}

.nav {
  display: none;

  @include tablet {
    display: flex;
  }
}

.nav-left,
.nav-right,
.nav-center {
  align-items: stretch;
  display: flex;

}

.nav-left,
.nav-right {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.nav-left {
  justify-content: flex-start;

  .nav-item:first-child {
    padding-left: 0;
  }
}

.nav-center {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.nav-right {
  justify-content: flex-end;

  .nav-item:last-child {
    padding-right: 0;
  }
}

.nav-item {
  align-items: center;
  align-self: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  padding: .5rem .75rem;

  i {
    color: $color-nav-text;

    &:hover {
      color: $color-nav-text-hover;
    }
  }
}

.nav-brand {
  font-size: 1.8rem;
  font-weight: bold;

  img {
    margin-right: 1rem;
    max-height: ($nav-height - 2rem);
  }

  &:hover {
    color: $color-nav-text !important;
  }
}

.nav-item a,
a.nav-item {
  border: 0;
  color: $color-nav-text;

  &:hover {
    color: $color-nav-text-hover;
  }

  &.is-active {
    color: $color-nav-text-hover;
  }
}

.nav.is-responsive {
  -webkit-overflow-scrolling: touch;
  background-color: $nav-color-bg-responsive;
  bottom: 0;
  display: block;
  left: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  top: 0;
  transition: all 0.4s cubic-bezier(.4, 0, 0, 1);
  transform: translate(-256px, 0);
  width: 256px;
  z-index: 10;

  &.is-open {
    border-right: 1px solid rgba(0,0,0,.1);
    transform: translate(0, 0);
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 3px 0;

    a {
      color: $color-primary;

      &:hover,
      &:active,
      &:focus {
        color: shade($color-primary, 20%);
      }
    }
  }

  .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;

    img {
      height: 60px;
      margin-right: 15px;
    }

    span  {
      font-size: 1.6rem;
    }
  }

  @include tablet {
    display: none;
  }
}
