//
//--------------------------------------------------------------------------
// Variables - Luma
//--------------------------------------------------------------------------
//

// Colors
// d8616d
//-------------------------------------

// General
$color-primary: #4a4b84 !default;
$color-primary-inverted: #fff !default; // Change to a value that makes text look good on your primary-color
$color-light: #e3e4e4 !default;
$color-dark: #363636 !default;
$color-info: #3273dc !default;
$color-success: #62d662 !default;
$color-warning: #ffdd57 !default;
$color-danger: #ff3860 !default;

// Typography
$color-text: #494949 !default;
$color-text-light: #fefefe !default;
$color-title: lighten($color-text, 10%) !default;
$color-link: #41b7d8;
$color-link-highlight: $color-primary !default;
$color-link-highlight-hover: $color-primary-inverted !default;
$color-link-border: rgba(0, 0, 0, .1) !default;
$color-selection: #fff !default;
$color-selection-bg: #a18be6 !default;
$color-highlight: #fff87e !default;

// Code
$color-code: #ff3860 !default;
$color-border-code: #e8e8e8 !default;
$color-bg-code: #fcfcfc !default;
$color-bg-code-header: #e7e7e7 !default;

// Blockquote
$color-blockquote-border: $color-primary !default;

// Labels
$color-bg-label: $color-dark !default;

// Tables
$color-border-table: $color-light !default;
$color-hover-table: #fafafa !default;

// Buttons
$color-button: $color-light !default;
$color-button-bg: $color-dark !default;
$color-button-outline-border: #d7d7d7 !default;
$color-button-outline: #808080 !default;



// Typography
//-------------------------------------
$sans-serif: (
  'Fira Sans',
  'Helvetica Neue',
  Helvetica,
  Arial,
  sans-serif,
);
$serif: (
  'Playfair Display',
  Georgia,
  'Times New Roman',
  Times,
  serif
);
$monospace: (
  'Source Code Pro',
  Consolas,
  'Ubuntu Mono',
  Courier,
  monospace
);

$font-heading: $sans-serif !default;
$font-text: $sans-serif !default;
$font-size-h1: 3.2rem !default;
$font-size-h2: 2.6rem !default;
$font-size-h3: 2.2rem !default;
$font-size-h4: 1.8rem !default;
$font-size-h5: 1.6rem !default;
$font-size-h6: 1.4rem !default;

// Grid
//-------------------------------------
$breakpoints: (
  'tiny': 480px,
  'small': 768px,
  'medium': 992px,
  'large': 1225px,
);

// Forms
//-------------------------------------
$color-checkbox: shade($color-light, 50%) !default;
$color-radio: shade($color-light, 50%) !default;
$color-checkmark: #fff !default;
$color-selected-bg: #f2f4f8 !default;
$color-select-bg: #fff !default;

// Lists
//-------------------------------------
$color-collection-border: #e0e0e0 !default;


// Navigation
//-------------------------------------
$color-nav-bg: #fff !default;
$nav-height: 5rem !default;
$color-nav-text: tint($color-text, 20%) !default;
$color-nav-text-hover: $color-dark !default;

// Cards
//-------------------------------------
$color-card-bg: #fff !default;
$color-card-meta: rgba(0, 0, 0, .4) !default;
$color-card-light: #fff !default;
$color-card-meta-light: rgba(255, 255, 255, .6) !default;
$color-card-action-border-light: rgba(255, 255, 255, .08) !default;
$color-card-action-light: rgba(255, 255, 255, .6) !default;

// Paginator
//-------------------------------------
$color-paginator-bg: #363636 !default;
$color-paginator-bg-hover: #46637f !default;
$color-paginator: $color-primary !default;
$color-paginator-filled: #fff !default;
$color-paginator-border: #adadad !default;
$color-paginator-bg-active: $color-primary !default;

// Loading Spinner
//-------------------------------------
$spinner-size: 5rem !default;
$color-spinner: $color-primary !default;

// Modals
//-------------------------------------
$color-bg-modal: rgba(94, 110, 141, .5) !default;
$color-modal: #fff !default;
$color-modal-close: #c6c6c6 !default;
