$shadow-1: rgba(0, 0, 0, .16);
$shadow-2: rgba(0, 0, 0, .12);

// Gives a box shadow that creates depth.
.has-depth {
  box-shadow: 0 2px 5px 0 $shadow-1, 0 2px 10px 0 $shadow-2;
}

.is-right {
  margin-left: auto;
}
