//
//--------------------------------------------------------------------------
// Variables - Luma
//--------------------------------------------------------------------------
//

// Colors
// d8616d
//-------------------------------------

// General

// If set to true all user selections on the site will have a custom background color instead of the default blue. See /base/_Typography.scss Line 114-125
$selection-on: false !default;

$color-primary: #ec556c !default;
$color-primary-inverted: #fff !default; // Change to a value that makes text look good on your primary-color
$color-light: #e3e4e4 !default;
$color-dark: #363636 !default;
$color-info: #3273dc !default;
$color-success: #62d662 !default;
$color-warning: #ffdd57 !default;
$color-danger: #ff3860 !default;

// Typography
$color-text: #586679 !default;
$color-text-light: #fefefe !default;
$color-title: lighten($color-text, 10%) !default;
$color-link: #41b7d8;
$color-link-highlight: $color-primary !default;
$color-link-highlight-bg: $color-primary !default;
$color-link-highlight-hover: #fff !default;
$color-link-border: rgba(0, 0, 0, .1) !default;
$color-selection: #fff !default;
$color-selection-bg: #a18be6 !default;
$color-highlight: #fff87e !default;

// Code
$color-code: #ff3860 !default;
$color-border-code: #e8e8e8 !default;
$color-bg-code: #fcfcfc !default;
$color-bg-code-header: #e7e7e7 !default;

// Blockquote
$color-blockquote-border: $color-primary !default;

// Labels
$color-bg-label: $color-dark !default;

// Tables
$color-border-table: $color-light !default;
$color-hover-table: #fafafa !default;

// Buttons
$color-button: $color-light !default;
$color-button-bg: $color-dark !default;
$color-button-outline-border: #d7d7d7 !default;
$color-button-outline: #808080 !default;


// Typography
//-------------------------------------
$sans-serif: (
        -apple-system,
        system-ui,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif
) !default;
$serif: (
        'Playfair Display',
        Georgia,
        'Times New Roman',
        Times,
        serif
) !default;
$monospace: (
        'Source Code Pro',
        Consolas,
        'Ubuntu Mono',
        Courier,
        monospace
) !default;

$font-heading: $sans-serif !default;
$font-text: $sans-serif !default;
$font-size-h1: 3.2rem !default;
$font-size-h2: 2.6rem !default;
$font-size-h3: 2.2rem !default;
$font-size-h4: 1.8rem !default;
$font-size-h5: 1.6rem !default;
$font-size-h6: 1.4rem !default;

// Grid
//-------------------------------------
$breakpoints: (
        'tiny': 480px,
        'small': 768px,
        'medium': 992px,
        'large': 1225px,
) !default;

// Forms
//-------------------------------------
$color-checkbox: shade($color-light, 50%) !default;
$color-radio: shade($color-light, 50%) !default;
$color-checkmark: #fff !default;
$color-selected-bg: #f2f4f8 !default;
$color-select-bg: #fff !default;

// Lists
//-------------------------------------
$color-collection-border: #e0e0e0 !default;


// Navigation
//-------------------------------------
$nav-color-bg-responsive: #f9f9f9 !default;
$color-nav-bg: #fff !default;
$nav-height: 5rem !default;
$color-nav-text: tint($color-text, 20%) !default;
$color-nav-text-hover: shade($color-link, 30%) !default;

$hamburger-layer-width: 25px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 4px !default;
$hamburger-layer-color: #6c778e !default;
$hamburger-types: (
        spin,
) !default;

// Cards
//-------------------------------------
$color-card-bg: #fff !default;
$color-card-meta: rgba(0, 0, 0, .4) !default;
$color-card-light: #fff !default;
$color-card-meta-light: rgba(255, 255, 255, .6) !default;
$color-card-action-border-light: rgba(255, 255, 255, .08) !default;
$color-card-action-light: rgba(255, 255, 255, .6) !default;

// Pagination
//-------------------------------------
$pagination-color-bg-active: $color-info !default;
$pagination-color-bg-hover: #f2f2f2 !default;
$pagination-color-border: #e6e6e6 !default;
$pagination-color-link: #586679 !default;
$pagination-color-link-active: #fff !default;

// Breadcrumbs
//-------------------------------------
$breadcrumbs-color-item: #586679 !default;


