body {
  background-color: #fcfcfc;
  padding-bottom: 200px;
}
header {
  height: 100vh;
  min-height: 600px;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: top right;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.doc header {
  max-height: 300px;
  min-height: 0;
}

body.doc header img {
  display: none;
}

body.doc .hero__information .button-group {
  margin-top: 2rem;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}


code.hljs {
  background: none;
}

.hero__information {
  text-align: center;
  color: #fbdbfc;
}
.hero__information img {
  user-select: none;
}
.hero__information .button-group {
  padding: 0;
  justify-content: space-between;
}

.hero__information .button-group .button {
  margin: 0;
  border: 1px solid #fbdbfc;
}

.hero__information h1 {
  font-size: 7.2rem;
  font-weight: 100;
  padding-bottom: 2px;
  margin: 0;
  margin-top: -2rem;
}
.hero__information h2 {
  margin-top: -2.5rem !important;
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: 100;
}
.hero__information h2 strong {
  font-weight: 400;
}

.hero__information p {
  font-weight: 300;
  opacity: .5;
}

.container {
  max-width: 800px;
}

.block {
  margin: 2rem 0 1rem 0;
}

.serif {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

h2:not(.title) {
  margin-top: 2rem;
}

.nav {
  position: relative;
}

.nav-item input {
  border: 0;
  padding-left: 4rem;
  color: #a4a4a4;
  font-weight: 300;
}

.search-field {
  position: relative;
}

.nav-item input + label {
  position: absolute;
  left: 1rem;
  top: 18%;
  color: #a4a4a4;
}

.sub-nav {
  z-index: 0;
  background: none;
}
.sub-nav a {
  font-size: 1.4rem;
  color: #878787;
  text-transform: uppercase;
  font-weight: 500;
}

.sub-nav a:hover {
  color: #4a4b84;
}

.example, .customize, .configure {
  padding: .2rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.customize, .configure {
  font-size: 1.3rem;
}

.example {
  border: 1px dashed #3273dc;
}

.customize {
  border: 1px solid #62d662;
  border-top-width: 5px;
}

.configure {
  border: 1px solid #ffdd57;
  border-top-width: 5px;
}

.customize > p, .configure > p {
  margin: 0;
}

.customize p > code:first-child, .configure p > code:first-child {
  padding-left: 0;
}

.customize::before, .configure::before, .example::before {
  font-size: 1.2rem;
  font-weight: 300;
}

.customize::before {
  content: 'CUSTOMIZATION OPTIONS';
  color: #388e3c;
}

.configure::before {
  content: 'CONFIGURATION OPTIONS';
  color: #ff9800;
}

.example::before {
  content: 'EXAMPLE';
  color: #3273dc;
}

.example h2, .example h3, header h2 {
  border: 0;
}

h2, h3 {
  border-bottom: 2px solid #e3e4e4;
}

.row + .code-header {
  margin-top: 20px;
}


.item p span:before {
  padding: 0 10px;
  content: "–";
}

.row + h3 {
  margin-top: 2rem;
}

.card .label {
  opacity: .8;
  cursor: pointer;
  margin-top: 5px;
}

.card .label:hover {
  opacity: 1;
}

.card .label + .label {
  margin-left: 5px;
}

/*.card.horizontal .card-image {
  min-width: 65px;
  height: 175px;
  overflow: hidden;
}

.card.horizontal .card-image img {
  height: 221px;
  width: 144px;
  margin: -20px 0 0 -30px;
}*/

.row + p {
  margin: 2rem 0 1rem 0;
}

.spinner {
  margin: 0 auto;
}

#search {
  max-width: 200px;
  border: 0;
  border-bottom: 1px solid rgba(34,36,38,.15);
  padding-left:35px;
  color:gray;
  background-image:url('images/search.png');
  background-repeat:no-repeat;
  background-position:left center;
  background-size: 20px;
}

.nav-example {
  margin-bottom: 2rem;
}